---
- name: Syslog logging
  hosts: localhost
  connection: local
  vars:
    tower_host: '{{ lookup("env", "TOWER_HOST") }}'
    tower_username: '{{ lookup("env", "TOWER_USERNAME") }}'
    tower_password: '{{ lookup("env", "TOWER_PASSWORD") }}'
  ignore_errors: true
  tasks:
    - block:
        - name: get job info
          uri:
            url: "https://tower.vaczi.eu:55000/api/v2/jobs/{{ log_job_id }}/"
            return_content: yes
            user: "{{ tower_username }}"
            password: "{{ tower_password }}"
            force_basic_auth: true
            validate_certs: false
            method: GET
          register: job_info
        
        # - name: get job info with curl 1
        #   shell: "curl -s -S -k -X GET -u $TOWER_USERNAME:$TOWER_PASSWORD https://ansible-tower.ocp3.sr1.eu1.sp.ibm.local/api/v2/jobs/{{ log_job_id }}/"
        #   ignore_errors: true
        #   register: job_info

        # - name: get job info with curl 2
        #   shell: 'curl -s -S -k -X GET -u "$TOWER_USERNAME:$TOWER_PASSWORD" https://ansible-tower.ocp3.sr1.eu1.sp.ibm.local/api/v2/jobs/{{ log_job_id }}/'
        #   ignore_errors: true
        #   register: job_info

        - debug:
            var: job_info['json']['summary_fields']

        - set_fact:
            job_id: "{{ job_info.json.id }}"
            executed_by: "{{ job_info.json.summary_fields.created_by.username }}"
            job_name: "{{ job_info.json.summary_fields.job_template.name }}"
            description: "{{ job_info.json.summary_fields.job_template.description }}"
            launch_type: "{{ job_info.json.launch_type }}"
            job_status: "{{ job_info.json.status }}"
            start_time: "{{ job_info.json.started }}"
            end_time: "{{ job_info.json.finished }}"
            job_type: "{{ job_info.json.job_type }}"
            inventory: "{{ job_info.json.inventory }}"
            limit: "{{ job_info.json.limit }}"
            project_name: "{{ job_info.json.summary_fields.project.name }}"
            playbook_name: "{{ job_info.json.playbook }}"
            credentials_used: "{{ job_info.json.summary_fields.credentials | map(attribute='name') | list }}"
      run_once: true
      delegate_to: localhost
    # - name: write syslog
    #   syslogger:
    #     facility: user
    #     priority: info
    #     msg: "Job ID: {{ job_id }}, Executed by: {{ executed_by }}, Job name: {{ job_name }}, Description: {{ description }}, Launch type: {{ launch_type }}, Job Status: {{ job_status }}, Start Time: {{ start_time }}, Ent Time: {{ end_time }}, Job Type: {{ job_type }}, Inventory: {{ inventory }}, Job Limit: {{ limit }}, Project Name: {{ project_name }}, Playbook Name: {{ playbook_name }}, Credentials Used: {{ credentials_used | join(', ') }}"
    - debug:
        msg: "Job ID: {{ job_id }}, Executed by: {{ executed_by }}, Job name: {{ job_name }}, Description: {{ description }}, Launch type: {{ launch_type }}, Job Status: {{ job_status }}, Start Time: {{ start_time }}, Ent Time: {{ end_time }}, Job Type: {{ job_type }}, Inventory: {{ inventory }}, Job Limit: {{ limit }}, Project Name: {{ project_name }}, Playbook Name: {{ playbook_name }}, Credentials Used: {{ credentials_used | join(', ') }}"